/*

@font-face {
	font-family: 'Имя шрифта';
	font-display: swap;
	src: url("../fonts/файл шрифта.eot");
	src: local("O"), url("../fonts/файл шрифта.woff") format("woff"), 
			url("../fonts/файл шрифта.ttf") format("truetype"), 
			url("../fonts/файл шрифта.svg") format("svg");
	font-weight: normal;
}

font-weight:
Устанавливает насыщенность шрифта.
100 - thin
200 - UltraLite
300 - lite
400 - normal
500 - medium
600 - semibold
700 - bold
800 - Heavy
900 - black

*/

@font-face {
}
